.sect1 {
  h2 {
    font-family: 'Times New Roman', Times, serif;
  }

  .part-col {
    margin-left: 150px !important;
  }

  .row {
    border: 1px solid $grey-color;
    border-radius: 40px;
  }
}
