html body {
  font-family: 'Lato', sans-serif;
}

.line {
  margin: auto;
  border-top: 3px solid  #ec5242;
  width: 52px;
}

.navbar {
  background: #272a31;
}

.navbar .navbar-nav {
  margin-right: 100px;
}

.navbar .navbar-nav a {
  padding-right: 25px;
  color: white;
  text-decoration: none !important;
}

.navbar .navbar-nav a:active {
  color: #ff4800 !important;
  text-decoration: none !important;
}

/* .container h2 {
  font-family: Brush Script MT, Brush Script Std, cursive;
} */

.collapse .nav-item {
  color: #080808;
  padding-right: 30px;
  font-size: 20px;
}

.collapse .navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.sect1.row {
  border: 5px solid #9b0b0b !important;
  border-radius: 40px !important;
}

.table1.table {
  max-width: 500px;
}

.cards .card {
  max-width: 200px;
  border: 0;
}

.cards .card .fit-picture {
  height: auto;
  width: 150px;
}

.icon {
  margin-left: 49%;
}

/* .footer-1 .f-heading {
  margin-left: 300px !important;
  font: 4rem sans-serif !important;
} */

.footer-1 .container h2 {
  font-family: sans-serif !important;
  font-size: 3rem !important;
}

.container-2 {
  display: flex;
  background-color: white;
  width: 100%;
}

.container-2 div {
  padding: 10px;
}

.box1 {
  margin-left: 75px;
  flex: 1;
}

.box1 h3 img {
  align-items: flex-end;
}

.box2 {
  flex: 3;
  margin-top: 10px !important;
  margin-left: 25px;
}
