.sect1 {
  h2 {
    font-family: 'Times New Roman', Times, serif;
  }

  .part-col {
    margin-left: 150px !important;
  }

  .row {
    border: 1px solid $grey-color;
    border-radius: 40px;
  }
}

.cards {
  .col-sm-2 {
    max-width: 10% !important;
  }

  .col-sm-4 {
    max-width: 20% !important;
  }
}
