# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
images/Comparing main...development · sohaibya_web-development-site_files/64464665
.gitignore
images/Comparing main...development · sohaibya_web-development-site_files/64464665(1)
images/Comparing main...development · sohaibya_web-development-site_files/64464665(2)
images/Comparing main...development · sohaibya_web-development-site_files/64464665(3)
images/Comparing main...development · sohaibya_web-development-site_files/search-key-slash.svg
images/Comparing main...development · sohaibya_web-development-site_files/behaviors-5dab76b1b40541a6afa440f2e913fe02.css
